---
import { ThemeToggle } from "./_components/theme-toggle/theme-toggle.component";
import { Icon } from "@/components/icon/icon.component";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { LanguageSelect } from "./_components/language-select/language-select.component";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang); // eslint-disable-line react-hooks/rules-of-hooks
---

<div class="navbar bg-base-300 h-16 p-3 sm:h-20 sm:p-4">
  <div class="navbar-start w-1/4 gap-2 sm:gap-3">
    <div class="dropdown">
      <div tabIndex={0} class="btn btn-xs sm:btn-sm btn-ghost lg:hidden">
        <Icon color="hsl(var(--pc))" type="burger-menu" className="h-4 w-4 sm:h-5 sm:w-5" />
      </div>
      <ul tabIndex={0} class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a href={`/${lang}/about`} class="prose text-base-content">{t("header.about")}</a>
          <a href={`/${lang}/docs`} class="prose text-base-content">{t("header.docs")}</a>
          <ul class="p-2">
            <li>
              <a href={`/${lang}/docs/#card-model`} class="prose text-base-content">{t("docs.card_model")}</a>
            </li>
            <li>
              <a href={`/${lang}/docs/#endpoints`} class="prose text-base-content">{t("docs.endpoints")}</a>
            </li>
            <li>
              <a href={`/${lang}/docs/#base-url`} class="prose text-base-content">{t("docs.base_url")}</a>
            </li>
            <li>
              <a href={`/${lang}/docs/#rate-limit`} class="prose text-base-content">{t("docs.rate_limit")}</a>
            </li>
          </ul>
        </li>
        <li>
          <a href={`/${lang}/playground`} class="prose text-base-content">{t("header.playground")}</a>
        </li>
      </ul>
    </div>
    <a
      href={`/${lang}/`}
      class="btn-ghost btn btn-xs sm:btn-sm lg:btn-md text-primary-content text-sm normal-case sm:text-lg lg:text-xl"
    >
      Taboo cards API
    </a>
  </div>
  <div class="navbar-end w-3/4 flex gap-3 sm:gap-4 lg:gap-5 lg:pr-4">
    <ul class="menu menu-horizontal hidden gap-2 lg:flex">
      <li>
        <a href={`/${lang}/about`} class="prose prose-xl text-base-content font-medium">
          <span>{t("header.about")}</span>
        </a>
      </li>
      <li>
        <details class="z-10">
          <summary>
            <a href={`/${lang}/docs`} class="prose prose-xl text-base-content font-medium">{t("header.docs")}</a>
          </summary>
          <ul class="p-2">
            <li>
              <a href={`/${lang}/docs/#card-model`} class="prose text-base-content">{t("docs.card_model")}</a>
            </li>
            <li>
              <a href={`/${lang}/docs/#endpoints`} class="prose text-base-content">{t("docs.endpoints")}</a>
            </li>
            <li>
              <a href={`/${lang}/docs/#base-url`} class="prose text-base-content">{t("docs.base_url")}</a>
            </li>
            <li>
              <a href={`/${lang}/docs/#rate-limit`} class="prose text-base-content">{t("docs.rate_limit")}</a>
            </li>
          </ul>
        </details>
      </li>
      <li>
        <a href={`/${lang}/playground`} class="prose prose-xl text-base-content font-medium">
          <span>{t("header.playground")}</span>
        </a>
      </li>
    </ul>
    <ThemeToggle client:idle />
    <LanguageSelect lang={lang} client:idle />
  </div>
</div>
